* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
  border-color: blanchedalmond;
  border-radius: 10px;
}
input:hover {
  box-shadow: 5px 5px 5px lightgray;
  transition: box-shadow 150ms ease-in;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
a {
  color: coral;
}
a:hover {
  color: chocolate;
}
.gallery {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 20px;
  list-style: none;
  align-content: center;
  padding: 0;
}
.gallery__img {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 10px grey;
}
.gallery__img:hover {
  scale: 1.05;
  transition: scale 500ms;
}
#counter > button {
  background-color: bisque;
  border-color: purple;
  border-radius: 10px;
  width: 70px;
  box-shadow: 5px 5px 5px thistle;
  margin-right: 20px;
  margin-left: 20px;
}
#counter > button:hover {
  scale: 1.1;
  transition: scale 250ms ease-in-out;
}
input[type="range"] {
  appearance: none;
  height: 10px;

  background: darksalmon;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: brown;
}
